# Secrets & configs
WassStreamlitApp/.streamlit/secrets.toml
.streamlit/secrets.toml
.env
.env.*
*.pem
*.key

# Python
__pycache__/
*.pyc
.venv/
.venv*/
.pytest_cache/

# OS / Editor
.DS_Store
.vscode/
.idea/
